.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #1a1a1a;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 50pt; // Utilisation de minSizeImage
  width: 100%;
  box-sizing: border-box;
  
  .title {
    margin: 0;
    font-size: max(3vh, 20pt); // Utilisation de smallFontSize
    font-weight: 500;
  }
  
  .back-button, .home-button {
    color: white;
    width: 40px;
    height: 40px;
    
    .mat-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
      line-height: 24px;
    }
    
    &:active {
      background-color: #FF5722; 
    }
  }
}