:host {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .app-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    width: 1280px;
    height: 413px;
    margin: 0 auto;
  }