<app-header></app-header>

<div class="mypromo-container">
  <div class="promo-list-container">
    <div class="promo-list">
      <div class="promo-item" (click)="openPinCodePage()">
        <div class="item-icon add-icon">
          <mat-icon>add_circle</mat-icon>
        </div>
        <div class="item-text">Je saisis un code</div>
        <div class="item-arrow">
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
      
      <div 
        *ngFor="let promo of promos" 
        class="promo-item" 
        [class.selected]="promo.selected"
        (click)="onPromoClick(promo)">
        
        <div class="item-icon" [ngClass]="getPromoIconClass(promo)">
          <mat-icon>{{ getPromoIcon(promo) }}</mat-icon>
        </div>
        
        <div class="item-content">
          <div class="item-header">
            <div class="item-title">{{ promo.title }}</div>
            <div class="item-value">{{ promo.value }}</div>
          </div>
        </div>
        
        <div *ngIf="promo.selected" class="item-check" (click)="validatePromo(promo, $event)">
          <mat-icon>check_circle</mat-icon>
        </div>
        
        <div *ngIf="!promo.selected" class="item-radio">
          <div class="radio-button"></div>
        </div>
      </div>
    </div>
  </div>
</div>